.optionsWrapper {
  display: flex;
  gap: 12px;
  align-self: flex-start;
}

.optionGood {
  background-color: green;
  color: white;
}

.optionGood:hover {
  background-color: darkgreen;
}

.optionNeutral {
  background-color: yellow;
}

.optionNeutral:hover {
  background-color: gold;
}

.optionBad {
  background-color: red;
  color: white;
}

.optionBad:hover {
  background-color: darkred;
}

.resetFeedback {
  background-color: lightgray;
}

.resetFeedback:hover {
  background-color: darkgray;
}
